	<div class="ui longer modal">
		<i class="close icon"></i>
		<div class="header">
			
		</div>
		<div class="two column stackable ui grid">

			<div class="column">

			<div class="content">
				<div class="ui list">
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">bubbly score:</a>
				    </div>
				    <div>
				    	<iframe src="/bars/<%= bars._id %>" height="200" width="300"></iframe>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">average age</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">parking</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">lines</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">outside safety</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">cleanliness</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">smell</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">bathrooms</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">mirrors</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">insta-friendly</a>
				    </div>
				  </div>
				</div>
			</div>

		</div>

		<div class="column">

			<div class="content">
				<div class="ui list">
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">dancing</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">personal space</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">getting drinks</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">staff</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">a/c + heat</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">lighting</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">foreigner friendly</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">loudness</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">dress code</a>
				    </div>
				  </div>
				  <div class="item">
				    <img class="ui avatar image" src="">
				    <div class="content">
				      <a class="header">vip</a>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>